#services {
    margin: 20rem auto 26rem auto;
}

.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid var(--color-bg-variant);
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    background: transparent;
    border-color: var(--color-bg-primary);
    cursor: pointer;
    border: 1px solid var(--color-primary);

}

.service_head {
    background: var(--color-primary-variant);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);

}

.service_head h3 {
    color: var(--color-primary);
    font-size: 1rem;
    text-align: center;
}

.service_list {
    padding: 2rem;
}

.service_list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

.service_list-icon {
    color: var(--color-primary);
}

.service_list p {
    font-size: 0.9rem;
}


/* ====== MEDIA QUERIES (X-LARGE DEVICES) ====== */
/* 
@media screen and (max-width: 2560px) {
    #services {
        margin: 12rem auto 20rem auto;
    }
} */

/* ====== MEDIA QUERIES (LARGE DEVICES) ====== */

@media screen and (max-width: 1440px) {
    #services {
        margin: 12rem auto 20rem auto;
    }
}


/* ====== MEDIA QUERIES (MEDIUM DEVICES) ====== */

@media screen and (max-width: 1024px) {

    #services {
        margin: 12rem auto 12rem auto;
    }

    .services_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }

    
  }

  /* ====== MEDIA QUERIES (SMALL DEVICES) ====== */

@media screen and (max-width: 768px) {

    .services_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    #services {
        margin: 12rem auto 12rem auto;
    }
    
}