#contact {
    padding-top: 3rem;
}

.container.contact_container {
    width: 68%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    min-width: 80vw;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    min-width: 6rem;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    min-width: 6rem;

}

.contact_option:hover {
    background: transparent;
    /* background-color: var(--color-primary-variant); */
    border: 1px solid var(--color-primary);

}

.contact_option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ========== FORM ==========*/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

textarea {
    height: 430px;
}

button {
    font-size: 1rem;
    width: max-content;
    display: inline-block;
    color: var(--color-bg);
    padding: 0.85rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    margin-right: 1.5rem;
    background: var(--color-primary);
}  

button:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
  }


/* ====== MEDIA QUERIES (LARGE DEVICES) ====== */

@media screen and (max-width: 1440px) {
    textarea {
        height: 430px;
    }
 
  }

/* ====== MEDIA QUERIES (MEDIUM DEVICES) ====== */

@media screen and (max-width: 1024px) {

    #contact {
        margin: 12rem auto 12rem auto;

    }

    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
  }

  /* ====== MEDIA QUERIES (SMALL DEVICES) ====== */

@media screen and (max-width: 768px) {

    #contact {
        margin: 12rem auto 12rem auto;
    }

    .container.contact_container {
        width: var(--container-width-sm);
    }

    button {
        margin: 0 auto;
        width: 75%;
        font-size: 1.5rem;
    }
    
}