#header {
    margin: 6rem auto;
    min-height: 70vh;
    max-height: 100vh;
}

.hidden_container {
    text-align: center;
    height: 100%;
    position: relative; 
}

/* ====== UVOD ====== */

.uvod {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ====== HEADER SOCIALS ====== */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 30rem;
    gap: 0.8rem;
    position: absolute;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ====== ME ====== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    min-width: 100px;
    max-width: 500px;
    height: auto;
    position: absolute;
    left: calc(50% - 17rem);
    margin-top: 10rem;
    overflow: hidden;
    border-radius: 2rem;
}

/* ====== SCROLL DOWN ====== */

.scroll_down {
    position: absolute; 
    right: 6.0rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
    bottom: 32rem;


}

/* ====== MEDIA QUERIES (LARGE DEVICES) ====== */

@media screen and (max-width: 1440px) {
    #header {
        margin: 6rem auto 20rem auto;
        min-height: 100vh;
        max-height: 120vh;
    }

    .me {
        min-width: 100px;
        max-width: 500px;
    }

    .header_socials {
        bottom: 34rem;
        left: 5rem;
       
    }

    .scroll_down {
        bottom: 36rem; 
        right: 5rem;
    }
}


/* ====== MEDIA QUERIES (MEDIUM DEVICS) ====== */

@media screen and (max-width: 1024px) {
    #header {
        margin: 6rem auto 12rem auto;

    }

    .me {
        min-width: 100px;
        max-width: 500px;
    }

    .header_socials {
        bottom: 20rem;
        left: 5rem;
       
    }

    .scroll_down {
        bottom: 24rem; 
        right: 5rem;
    }
  }

  /* ====== MEDIA QUERIES (SMALL DEVICES) ====== */

@media screen and (max-width: 768px) {
    #header {
        margin: 6rem auto 24rem auto;

    }

    .me {
        min-width: 100px;
        max-width: 250px;
        left: calc(50% - 8rem);
    }

    .header_socials {
        left: 5rem;
        bottom: 9rem;
    }

    .scroll_down {
        bottom: 11rem;
        right: 3rem;
    }

  }


   /* ====== MEDIA QUERIES (X-SMALL DEVICES) ====== */

@media screen and (max-width: 375px) {

    .header_socials {
        bottom: 10rem;
        left: 3rem;
    }

    .scroll_down {
        
        bottom: 20rem;
    
    
    }
}