#testmonials {
    margin: 24rem auto 24rem auto
}

.container.testmonials_container {
    min-width: 600px;
    display: flex;
    gap: 2rem;
    margin: O auto 0 auto;
}

.client_avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testmonials {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.slick-list {
    display: flex;
    align-content: center;
    margin: 0 auto 0 auto;
}

.slick-slider {
    min-width: 300px;
    max-width: 1000px;
}

button.slick-arrow.slick-prev {
    left: -25px;

}

button.slick-arrow.slick-next {
    right: -55px;

}

.client_review {
    color: var(--color-light);
    font-weight: 300;
    display: inline block;
    margin: 0.8rem auto 0;
}


/* ====== MEDIA QUERIES (LARGE DEVICES) ====== */

@media screen and (max-width: 1440px) {

    #testmonials {
        margin: 12rem auto 12rem auto;

    }

  }

/* ====== MEDIA QUERIES (MEDIUM DEVICES) ====== */

@media screen and (max-width: 1024px) {

    #testmonials {
        margin: 12rem auto 12rem auto;

    }

    .container.testmonials_container{
        min-width: 60%;
    }

  
    
  }

  /* ====== MEDIA QUERIES (SMALL DEVICES) ====== */

@media screen and (max-width: 768px) {
    .container.testmonials_container {
        display: block;
        width: var(--container-width-sm);
    }

    .client_review {
        width: var(--container-width-sm);
    }

    .slick-slider {
        min-width: 300px;
        max-width: 800px;
    }

    button.slick-arrow.slick-next {
        right: -25px;
    
    }

    #testmonials {
        margin: 12rem auto 12rem auto;

    
    }
   
}

  /* ====== MEDIA QUERIES (X-SMALL DEVICES) ====== */
  @media screen and (max-width: 375px) {

    .container.testmonials_container {
        width: var(--container-width-xsm);
    }
}