#experience {
    margin: 20rem auto 34rem auto;

}

.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience_container > div {
    background: var(--color-bg-variant);
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_container > div:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: pointer;
}

.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}


/* ====== MEDIA QUERIES (MEDIUM DEVICES) ====== */

@media screen and (max-width: 1024px) {

    .experience_container {
        grid-template-columns: 1fr;

    }

    .experience_container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    #experience {
        padding-top: 3rem;
        margin: 12rem auto 12rem auto;
    }

    .experience {
        margin-top: 6rem;

    }

    .experience_content {
        padding: 1rem;


    }
  }

    /* ====== MEDIA QUERIES (LARGE DEVICES) ====== */

@media screen and (max-width: 1440px) {
    #experience {
            margin: 12rem auto 2rem auto;
        }
    }

    /* ====== MEDIA QUERIES (MEDIUM DEVICES) ====== */

@media screen and (max-width: 1024px) {
    #experience {
        margin: 12rem auto 12rem auto;
    }
}


    /* ====== MEDIA QUERIES (SMALL DEVICES) ====== */

@media screen and (max-width: 768px) {

    #experience {
        margin: 12rem auto 12rem auto;
    }

    .experience_content {
        gap: 1rem;
        position: relative;
        
    }

    .experience_container > div {
        width: 100%;
        padding: 3rem 1rem;
    }
}